@using EMarket.Core.Application.ViewModels.Adverts;
@model DetailViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row mb-3">
    <div class="col-3 offset-9">
        <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Go back</a>
    </div>
</div>

<div class="row">





    <div class="col-4">
        <div class="card shadow-sm mb-3">
            <img class="bd-placeholder-img card-img-top" src="@Model.ImagePath" />

            <div class="card-body">
                <h4>Name: @Model.Name</h4>
                <p class="card-text">Price: @Model.Price</p>
                <p class="card-text">Description: @Model.Description</p>
                <p class="card-text">Category: @Model.CategoryName</p>
                <p class="card-text">Date published: @Model.CreatedDate</p>
                <p class="card-text">Owner: @Model.UserName</p>
                <p class="card-text">Owner email: @Model.UserEmail</p>
                <p class="card-text">Owner phone: @Model.UserPhone</p>

            </div>
        </div>
    </div>







</div>

</div>

